<div class="row p-5">
  <div class="col-12 text-center">
    <strong style="font-size: 25px"> Solicitud de Carga No 001</strong>
  </div>

  <div class="col-12 pt-4">
    <div class="row pl-5 pr-5">
      <div class="col-12 pl-5 pr-5">
        <div
          class="row"
          style="background-color: coral; color: white; border-radius: 20px"
        >
          <div class="col-12 text-center">Estado</div>

          <div class="col-12 text-center">En proceso de carga</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 pt-5">
    <div class="row">
      <div class="col-4">
        <div
          class="row"
          style="background-color: coral; color: white; border-radius: 20px"
        >
          <div class="col-12 text-center">Origen</div>

          <div class="col-12 text-center">Lima</div>
        </div>
      </div>

      <div
        class="col-4"
        style="display: flex; justify-content: center; align-items: center"
      >
        <img
          style="width: 50px"
          src="./assets/images/flecha-correcta.png"
          alt=""
        />
      </div>

      <div class="col-4">
        <div
          class="row"
          style="background-color: coral; color: white; border-radius: 20px"
        >
          <div class="col-12 text-center">Destino</div>

          <div class="col-12 text-center">Ica</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 pt-4">
    <strong class="mr-2">Ubicacion en tiempo real </strong>
    <img style="width: 50px" src="./assets/images/waze.png" alt="" />
  </div>

  <div class="col-12 pt-3">
    <div class="row">
      <div class="col-12"></div>

      <div class="col-12 map-container">
        <div #mapDiv style="width: 100%; height: 250px" class=""></div>
      </div>
    </div>
  </div>

  <div class="col-12 pt-3" style="color: darkcyan">
    <strong style="cursor: pointer">Ver novedades reportadas</strong>
  </div>

  <div class="col-12"></div>

  <div class="col-12"></div>

  <div class="col-12 pt-4">
    <div class="row">
      <div
        class="col-5 text-center"
        style="
          background-color: coral;
          color: white;
          border-radius: 20px;
          cursor: pointer;
        "
      >
        <p class="m-0 p-0 pt-3">Contactar</p>
        <p>Soporte</p>
      </div>

      <div class="col-2"></div>

      <div
        class="col-5 text-center"
        style="
          background-color: coral;
          color: white;
          border-radius: 20px;
          cursor: pointer;
        "
      >
        <p class="m-0 p-0 pt-3">Finalizar</p>
        <p>Servicio</p>
      </div>
    </div>
  </div>
</div>
