<div class="row p-5">
  <div class="col-12 pt-3">Bienvenida Empresa: {{ nombreEmpresa }}</div>

  <div class="col-12 pt-4"></div>

  <div (click)="ir(1)" class="col-12 pt-3 pb-3 opcion-menu">Mi Cuenta</div>

  <div class="col-12 pt-4"></div>

  <div (click)="ir(2)" class="col-12 pt-3 pb-3 opcion-menu">Pagos</div>

  <div class="col-12 pt-4"></div>

  <div (click)="ir(3)" class="col-12 pt-3 pb-3 opcion-menu">Mis Viajes</div>

  <div class="col-12 pt-4"></div>

  <div (click)="ir(4)" class="col-12 pt-3 pb-3 opcion-menu">Metricas</div>

  <div class="col-12 pt-4"></div>

  <div (click)="ir(5)" class="col-12 pt-3 pb-3 opcion-menu">Ayuda</div>
</div>
