<div class="row p-5">
  <div class="col-12 pt-3">Bienvenida Empresa: {{ nombreEmpresa }}</div>

  <div class="col-12 pt-4"></div>

  <div (click)="ir(1)" class="col-12 pt-3 pb-3 opcion-menu">
    <img src="./assets/images/user.png" alt="" style="width: 20px" />
    Mi Cuenta
  </div>

  <div class="col-12 pt-4"></div>

  <div (click)="ir(2)" class="col-12 pt-3 pb-3 opcion-menu">
    <img src="./assets/images/credit-card.png" alt="" style="width: 20px" />
    Pagos
  </div>

  <div class="col-12 pt-4"></div>

  <div (click)="ir(3)" class="col-12 pt-3 pb-3 opcion-menu">
    <img src="./assets/images/car.png" alt="" style="width: 20px" />
    Mis Viajes
  </div>

  <div class="col-12 pt-4"></div>

  <div (click)="ir(4)" class="col-12 pt-3 pb-3 opcion-menu">
    <img src="./assets/images/grafico.png" alt="" style="width: 20px" />
    Metricas
  </div>

  <div class="col-12 pt-4"></div>

  <div (click)="ir(5)" class="col-12 pt-3 pb-3 opcion-menu">
    <img src="./assets/images/informacion.png" alt="" style="width: 20px" />
    Ayuda
  </div>
</div>
