<div class="row p-4">
  <div class="col-12 pt-3">Bienvenida Empresa: {{ nombreEmpresa }}</div>

  <div (click)="ir(1)" class="col-12 pt-3" style="cursor: pointer">
    Mi Cuenta
  </div>

  <div (click)="ir(2)" class="col-12 pt-3" style="cursor: pointer">Pagos</div>

  <div (click)="ir(3)" class="col-12 pt-3" style="cursor: pointer">
    Mis Viajes
  </div>

  <div (click)="ir(4)" class="col-12 pt-3" style="cursor: pointer">
    Metricas
  </div>

  <div (click)="ir(5)" class="col-12 pt-3" style="cursor: pointer">Ayuda</div>
</div>
