<div class="row p-5">
  <div class="col-12 text-center">
    <img src="./assets/images/check.png" alt="" />
  </div>

  <div class="col-12 text-center pt-4">
    <strong>Bien hecho</strong>
  </div>

  <div class="col-12 text-center pt-4">Has aceptado la oferta de:</div>

  <div class="col-12 pt-3">
    <div class="row">
      <div class="col-6">
        <img
          class="img-fluid"
          src="./assets/images/usuario_transp.jpg"
          alt=""
        />
      </div>

      <div class="col-6">
        <div class="row">
          <div class="col-12">Hector Vargas</div>

          <div class="col-12">20 años de experiencia comprobada</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 pt-3" style="color: cornflowerblue">
    <strong>Ver datos adicionales</strong>
  </div>

  <div class="col-12"></div>

  <div class="col-12"></div>

  <div class="col-12"></div>
</div>

<div class="row">
  <div class="col-12" style="background-color: yellow; height: 5px"></div>

  <div class="col-12"></div>

  <div class="col-12 pt-3">
    <div class="row">
      <div class="col-6">
        <button
          (click)="back()"
          style="background-color: coral; color: white"
          class="btn form-control"
        >
          Atras
        </button>
      </div>

      <div class="col-6">
        <button
          (click)="next()"
          style="background-color: coral; color: white"
          class="btn form-control"
        >
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>
