<div class="row p-5">
  <div class="col-12 text-center">
    <strong style="font-size: 20px"> ¿Como deseas registrarte? </strong>
  </div>

  <div class="col-12 pt-5"></div>

  <div
    (click)="goRegistroPN()"
    class="col-12"
    style="
      font-size: 25px;
      border-radius: 20px;
      border: 1px solid;
      cursor: pointer;
    "
  >
    <img style="width: 30px" src="./assets/images/user.png" alt="" />
    Persona Natural
  </div>

  <div class="col-12 pt-5"></div>

  <div
    (click)="goRegistroEmp()"
    class="col-12"
    style="
      font-size: 25px;
      border-radius: 20px;
      border: 1px solid;
      cursor: pointer;
    "
  >
    <img
      style="width: 30px"
      src="./assets/images/grupo-de-usuarios.png"
      alt=""
    />
    Empresa
  </div>
</div>
