<div class="row p-5">
  <div class="col-12 text-center">
    <img style="width: 100px" src="./assets/images/check.png" alt="" />
  </div>

  <div class="col-12 text-center pt-4">
    <strong style="font-size: 20px"> Has recibido tu pago por: </strong>
  </div>

  <div class="col-12 text-center pt-4">
    <strong style="font-size: 20px"> S/ 5,500 </strong>
  </div>

  <div class="col-12 text-center pt-5">
    <div class="row" style="border: 1px solid">
      <div class="col-12" style="font-size: 30px">
        Completa 9 envios mas y ganaras un Bono de combustible por S/ 500
      </div>
    </div>
  </div>

  <div class="col-12 text-center"></div>

  <div class="col-12 text-center"></div>

  <div class="col-12 text-center"></div>
</div>
