<div class="row p-5">
  <div class="col-12 text-center">
    <strong style="font-size: 25px">Servicio Finalizado</strong>
  </div>

  <div
    class="col-12 text-center mt-5 pt-3 pb-3"
    style="border-radius: 20px; background-color: coral"
  >
    <strong style="font-size: 25px"> Ver Documentos de Soporte </strong>
  </div>

  <div
    class="col-12 text-center mt-5 pt-3 pb-3"
    style="border-radius: 20px; background-color: coral"
  >
    <strong style="font-size: 25px"> Autorizar Pago Restante </strong>
  </div>
</div>
