<div class="row p-5">
  <div class="col-12">
    <button
      (click)="irRegistro()"
      class="btn form-control"
      style="background-color: coral; color: white"
    >
      Registrar Solicitud
    </button>
  </div>

  <div class="col-12 pt-4">Mis Viajes:</div>

  <div class="col-12">
    <div class="row">
      <div *ngFor="let item of empresaSolicitudes" class="col-12 pt-3">
        <div
          class="row p-2"
          style="border-radius: 20px; background-color: cornflowerblue"
        >
          <div class="col-12">Origen: {{ item.origen }}</div>

          <div class="col-12">Destino: {{ item.destino }}</div>

          <div class="col-12">Fecha: {{ item.fechaEstimadaSalida }}</div>

          <div class="col-12">Estado: {{ item.estado }}</div>

          <div *ngIf="item.estado_int == 2" class="col-12">
            <button
              (click)="seleccionar(item)"
              class="btn form-control"
              style="background-color: burlywood"
            >
              Elegir Transportista
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12"></div>

  <div class="col-12"></div>

  <div class="col-12"></div>

  <div class="col-12 pt-3">
    <div class="row">
      <div class="col-6">
        <button
          (click)="back()"
          style="background-color: coral; color: white"
          class="btn form-control"
        >
          Atras
        </button>
      </div>

      <div class="col-6">
        <button
          (click)="next()"
          style="background-color: coral; color: white"
          class="btn form-control"
        >
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
