<div class="row p-5">
  <div class="col-12 text-center">
    <strong style="font-size: 25px">Turno de Cargue Agendado</strong>
  </div>

  <div class="col-12 pt-5">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12 text-center" style="font-size: 25px">Actual</div>
          <div class="col-12 text-center" style="font-size: 25px">
            <strong>5</strong>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row">
          <div class="col-12 text-center" style="font-size: 25px">Turno</div>
          <div class="col-12 text-center" style="font-size: 25px">
            <strong>10</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 pt-4">
    <div class="row">
      <div class="col-6">
        <div
          class="row"
          style="background-color: black; color: white; border-radius: 20px"
        >
          <div class="col-12 text-center">Fecha de Carga</div>

          <div class="col-12 text-center">10/03/2022</div>
        </div>
      </div>

      <div class="col-6">
        <div
          class="row"
          style="background-color: black; color: white; border-radius: 20px"
        >
          <div class="col-12 text-center">Hora</div>

          <div class="col-12 text-center">14:00</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 pt-4">
    <div class="row">
      <div class="col-6">
        <div
          class="row"
          style="background-color: black; color: white; border-radius: 20px"
        >
          <div class="col-12 text-center">Direccion</div>

          <div class="col-12 text-center">Calle 159 19 B - 72 Bahia 55</div>
        </div>
      </div>

      <div class="col-6">
        <div
          class="row"
          style="background-color: black; color: white; border-radius: 20px"
        >
          <div class="col-12 text-center">Condiciones Ad.</div>

          <div class="col-12 text-center">Preguntar por Miguel Diaz</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12"></div>

  <div class="col-12"></div>

  <div class="col-12"></div>

  <div class="col-12 pt-5">
    <div class="row">
      <div class="col-6">
        <button
          (click)="atras()"
          style="background-color: coral; color: white"
          class="btn form-control"
        >
          Atras
        </button>
      </div>

      <div class="col-6">
        <button
          (click)="next()"
          style="background-color: coral; color: white"
          class="btn form-control"
        >
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>
