<div class="row p-4">
  <div class="col-12 text-center">
    <strong style="font-size: 25px">Ofertas en tu zona</strong>
  </div>

  <div class="col-12">
    <div class="row">
      <div *ngFor="let item of solicitudes" class="col-12 pt-4">
        <div
          class="row p-3 pb-0"
          style="background-color: coral; border-radius: 20px"
        >
          <div class="col-12"></div>

          <div class="col-12">Origen: {{ item.origen }}</div>

          <div class="col-12">Destino: {{ item.destino }}</div>

          <div class="col-12">Fecha: {{ item.fechaEstimadaSalida }}</div>

          <div class="col-12"></div>

          <div class="col-12">
            <div class="row p-3">
              <div class="col-6">
                <button
                  (click)="aceptar(item)"
                  class="btn form-control"
                  style="background-color: black; color: white"
                >
                  Aceptar
                </button>
              </div>

              <div class="col-6">
                <button
                  class="btn form-control"
                  style="background-color: black; color: white"
                >
                  Contraoferta
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
