<div class="row p-5">
  <div class="col-12">
    <div class="row">
      <div
        class="col-2"
        style="display: flex; justify-content: center; align-items: center"
      >
        <img style="width: 30px" src="./assets/images/user.png" alt="" />
      </div>

      <div
        class="col-10"
        style="
          font-size: 25px;
          border-radius: 20px;
          border: 1px solid;
          cursor: pointer;
        "
      >
        Persona Natural
      </div>
    </div>
  </div>

  <div class="col-12 pt-3">
    <div class="row">
      <div class="col-12">Nombres:</div>

      <div class="col-12">
        <input [(ngModel)]="model.nombre" class="form-control" type="text" />
      </div>
    </div>
  </div>

  <div class="col-12 pt-3">
    <div class="row">
      <div class="col-12">Apellidos:</div>

      <div class="col-12">
        <input [(ngModel)]="model.apellido" class="form-control" type="text" />
      </div>
    </div>
  </div>

  <div class="col-12 pt-3">
    <div class="row">
      <div class="col-12">Tipo de documento:</div>

      <div class="col-12">
        <input [(ngModel)]="model.tipoDoc" class="form-control" type="text" />
      </div>
    </div>
  </div>

  <div class="col-12 pt-3">
    <div class="row">
      <div class="col-12">Numero de documento:</div>

      <div class="col-12">
        <input
          [(ngModel)]="model.dni"
          class="form-control"
          type="text"
          maxlength="8"
        />
      </div>
    </div>
  </div>

  <div class="col-12 pt-3">
    <div class="row">
      <div class="col-12">Ciudad:</div>

      <div class="col-12">
        <input [(ngModel)]="model.ciudad" class="form-control" type="text" />
      </div>
    </div>
  </div>

  <div class="col-12 pt-3">
    <div class="row">
      <div class="col-12">Email:</div>

      <div class="col-12">
        <input [(ngModel)]="model.correo" class="form-control" type="text" />
      </div>
    </div>
  </div>

  <div class="col-12 pt-3">
    <div class="row">
      <div class="col-12">Contraseña:</div>

      <div class="col-12">
        <input [(ngModel)]="model.clave" class="form-control" type="text" />
      </div>
    </div>
  </div>

  <div class="col-12 pt-3">
    <label for="">
      <input type="checkbox" name="" id="" />
      Acepta Terminos y Condiciones
    </label>
  </div>

  <div class="col-12 pt-3 text-center">
    <button
      (click)="crearUsuario()"
      class="btn form-control"
      style="background-color: blue; color: white"
    >
      ACEPTAR
    </button>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
